body,ul,ol,li,dl,dd,h1,h2,h3,h4,input,button,p{
	margin: 0;
	padding: 0;
}
ul li,ol li{
	list-style: none;
}
a{
	text-decoration: none;
}
em{
	font-style: normal;
	font-size: inherit;
}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
.cf{clear: both;}
